.body {
  background-color: $black-bg-color;
  font-family: 'Gilroy', 'Arial', sans-serif;
}

.body--opened-menu {
  overflow: hidden;
}

.body--opened-modal {
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1810px;
  margin: 0 auto;
  padding: 0 20px;
  height: 100%;
  width: 100%;
}

.button {
  background: $yellow-color;
  color: #000;
  font-family: Work Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 12px 14px 13px 14px;
  max-width: 165px;
}

.hr {
  width: 100%;
  height: 1px;
  background: $grey-text-color;
}

.modal {
  position: fixed;
  inset: 0;
  background: #272727e6;
  z-index: 12;
  padding: 15px;

  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: all .6s;

  &__button{
    max-width: none;
  }
}

.main {
  flex-grow: 1;
}

.body--opened-modal .modal {
  opacity: 1;
  visibility: visible;
}

.modal__window {
  background: $white-color;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  padding: 67px 138px 44px;
  width: 100%;
  max-width: 729px;
  position: relative;
}

.modal__cancel {
  position: absolute;
  top: -14%;
  right: -14%;

  & svg {
    pointer-events: none;
  }
}

.modal__title {
  color: #000;

  text-align: center;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-bottom: 7px;
}

.modal__text {
  color: #000;

  text-align: center;
  font-family: Work Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 46px;
}

.modal__form {
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 56px;
  gap: 20px;
}

.field__input {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-bottom: $grey-text-color solid 1px;
  padding-bottom: 15px;

  &::placeholder {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

.modal__button {
  padding: 16px 86px 17px 86px;
}

.swiper-pagination-bullet {
  background-color: $grey-text-color;
  width: 13px;
  height: 13px;

  &-active {
    background-color: $yellow-color;
  }
}

// ==============================================================================================================
.video-js .vjs-big-play-button {
  background: $yellow-color;
  border-radius: 50%;
  width: 52px;
  height: 52px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: $black-bg-color;
}

.video-js .vjs-big-play-button .vjs-icon-placeholder:before,
.video-js .vjs-modal-dialog,
.vjs-button>.vjs-icon-placeholder:before,
.vjs-modal-dialog .vjs-modal-dialog-content{
  top: 8%;
  left: 1%;
}