
.header__top {
  padding: 20px 0 26px;
}

.header__top-inner {
  display: grid;
  grid-template-columns: .25fr 1fr;
  gap: 15px;
  align-items: center;
}

.header__logo {
  z-index: 11;
}

.header__menu {
  display: flex;
  justify-content: space-between;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__list {
  display: flex;
  gap: 53px;
}

.nav__item {
  color: $white-color;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  transition: $transition;
  border-bottom: 1px solid $black-bg-color;

  &:hover {
    border-bottom: 1px solid $yellow-color;
  }

  &.nav__link {
    transition: $transition;
  }

  &:hover .nav__link {
    color: $yellow-color;
  }

  & path {
    fill: $white-text-color;
    transition: $transition;
  }

  &:hover path {
    fill: $yellow-color;
  }

  &:first-child:hover .nav__menu-list {
    visibility: visible;
    opacity: 1;
  }
}


.nav__link {
  text-transform: uppercase;
  padding: 20px 0px;
  transition: $transition;

}

.nav__menu-list {
  position: absolute;
  background: $black-bg-color;
  display: flex;
  flex-direction: column;
  max-width: 247px;
  width: 100%;
  transition: $transition;
  z-index: 2;

  top: 7.5%;
  visibility: hidden;
  opacity: 0;
}

.nav__menu-item {
  display: flex;
  border: 1px solid $grey-text-color;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  transition: $transition;

  & a {
    padding: 10px 20px;
  }

  &:hover {
    color: $black-bg-color;
    background: $yellow-color;
  }
}

.user__nav {
  display: flex;
  align-items: center;
  gap: 15px;
  justify-content: space-between;
  justify-self: end;
  max-width: 510px;
  width: 100%;
  z-index: 11;
}

.header__button {
  justify-self: start;
}

.user__nav-lang {
  justify-self: end;
  display: flex;
  gap: 8px;
}

.user__nav-item {
  color: $grey-text-color;
  text-align: right;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;

  & a {
    padding: 5px 0px;
  }

  &:first-child {
    margin-left: 65px;
    @media (max-width: 800px) {
      margin-left: 0px;
    }
  }

  &--active {
    color: $yellow-color;
  }
}

.user__nav-number {
  color: $white-color;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 5px 0px;
  transition: $transition;
  display: block;
  flex-shrink: 0;

  &:hover {
    color: $yellow-color;
  }
}

.burger-icon {
  display: none;
  width: 50px;
  height: 50px;
  align-items: center;
  justify-content: center;
  z-index: 11;

  & span {
    position: relative;
  }

  & span::before,
  & span::after {
    content: '';
    position: absolute;
  }

  & span::before {
    top: -8px;
  }
  
  & span::after {
    bottom: -8px;
  }

  & span,
  & span::after,
  & span::before {
    display: block;
    background: $white-color;
    width: 30px;
    height: 3px;
    border-radius: 100px;
    transition: var(--accent-transition);
  }
}
.body--opened-menu .burger-icon span {
  background: transparent;
  pointer-events: none;
}

.body--opened-menu .burger-icon span::before {
  top: 0px;
  transform: rotate(45deg);
}

.body--opened-menu .burger-icon span::after {
  bottom: 0px;
  transform: rotate(-45deg);
}

// ==============================================================================================================

.hero__inner {
  position: relative;
}

.hero__content {
  display: grid;
  grid-template-columns: repeat (3, 1fr);
  justify-items: end;
  position: absolute;
  align-items: center;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.hero__nav {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.hero__socials {
  align-self: flex-end;
}

.socials-list {
  margin-top: 40px;
  margin-bottom: 42px;
  margin-right: 20px;
  z-index: 2;
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
}

.hero__info {
  height: 100%;
  max-height: 410px;
  align-self: start;
  margin: 0px auto;
  left: -7.5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 742px;
  position: relative;
  z-index: 2;


  &::before {
    content: url(../img/icons/Rectangle\ 14.svg);
    position: absolute;
    pointer-events: none;
    text-align: center;
    left: -5%;
  }

  @media (max-width: 900px){
    & {
      margin-top: 5px !important;
      margin-left: 50px !important;
    }
    &::before{
      transform: scale(0.6)!important;
      left: -10%;
    }
    .hero__title {
      font-size: 50px;
      padding-bottom: 0;
    }
    .hero__text {
      padding-bottom: 10px;
      font-size: 10px;
    }
  }
}

.hero__text {
  color: $white-color;

  font-family: 'Work Sans';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  padding-bottom: 22px;
}

.hero__title {
  color: $white-color;

  font-family: 'Space Grotesk';
  font-size: 96px;
  font-style: normal;
  font-weight: 700;
  line-height: 104.167%;
  text-transform: capitalize;
  position: relative;
  padding-bottom: 25px;

  & span {
    color: $yellow-color;
  }

}

.hero__button {
  color: $white-color;
  text-align: left;
  background: transparent;

  font-family: 'Work Sans';
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: flex;
  align-items: end;
  gap: 8px;
  max-width: 246px;

  & path {
    stroke: $white-color;
  }
}



.hero__pagination {
  align-self: flex-end;
  justify-self: start;
  color: $white-color;
  display: flex;
  align-items: center;
  gap: 20px;
  justify-self: end;
  margin-left: 10px;

  &-buttons{
    display: flex;
    align-items: center;
    gap: 20px;  
  }

  & span {
    margin-top: 25px;
  }
}

.hero__prev,
.hero__next {
  margin-top: 25px;
  color: $white-color;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 4px;
  cursor: pointer;
  text-transform: uppercase;
  display: inline-block;

  &.swiper-button-disabled {
    color: $grey-text-color;
    cursor: auto;
  }
}

.hero__dot {
  display: flex;
  align-items: center;
  padding: 57px 0 40px 60px;
  background: $black-bg-color;
  margin-left: 70.59px;

}

.hero__dot-num {
  color: $white-color;

  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  margin-right: 37px;

  &:first-child {
    color: $yellow-color;
  }
}

.hero__dot-text {
  color: $white-color;
  font-family: Work Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
  margin-right: 171px;
  max-width: 116px;

  &:last-child {
    margin-right: 0;
  }
}

.hero__slider {
  z-index: 0;
}

.hero__slide {
  max-width: 1802px;
}

.hero__slide-img {
  display: block;
  position: relative;
  width: 100%;

  & img {
    width: 100%;
    height: auto;
    min-height: 322px;
  }

  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: transparent;
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.40) 10.1%, rgba(0, 0, 0, 0.00) 76.11%);
    ;
  }
}